<!DOCTYPE html>
<html>
  <head>
    <title>Marie-Phila | Home</title>
  </head>
  <body>
    <h1>Marie-Phila</h1>
    <p>
      This is my friend Marie-Phila, she is Haitian.
    </p>
    
    <img src="../images/DSCN2671.JPG" alt="Happy" />
    
  </body>
</html>
